
<div class="form">
<%= f.label :name %>
<%= f.text_field :name, class: "text_field" %>
</div>
<div class="form">
<%= f.label :email %>
<%= f.text_field :email, class: "text_field" %>
</div>
<div class="form">
<%= f.label :description, class: "description_label" %>
<%= f.text_area :description, class: "description" %>
</div>
<div class="form">
<%= f.label :image %>
<%= f.file_field :image, class: "image" %>
</div>
<div class="button">
<%= f.submit 'Update' %>
</div>