<h2>User profile page</h2>

<% if @user && @user.errors.any?  %>
    <h3><% @user.errors.full_messages.each do |message| %>
    <%= message %></h3>
    <% end %>
<% end %>

  <p>Name: <%= @user.name %></p>
  <p><%= image_tag @user.image.detail.url %></p>
  <p>Email: <%= @user.email %> </p>
  <p>About me: <%= @user.description %></p>

  <%= link_to 'Edit my profile', edit_user_path %>

<hr>

  <h4>Leave a comment for <%= @user.name %>:</h4>
    <%= form_for  @user.comments.new, html: {class: "comment_form"} do |f| %>
      <%= render partial: "comments/form", locals: { f: f } %>
      <%= f.submit "Add Comment!" %>
    <% end %>


  <h4><%= @user.name%>'s comments</h4>
    <div><% @user.comments.all.each do |comment| %>
    <%= comment.comment %></div>
    <div>Posted by: <%= comment.user.try :name %> on <%= comment.created_at.strftime("%d/%m/%Y") if comment.created_at %> </div>



    
     <div> <%= link_to "Delete comment", comment_path(comment), method: :delete, data: { confirm: 'Are you sure to delete the comment?' } %> </div>
    <% end %>

