<h2>User profile page</h2>

<% if @user && @user.errors.any?  %>
<h3><% @user.errors.full_messages.each do |message| %>
  <%= message %></h3>
  <% end %>
  <% end %>

  <p>Name: <%= @user.name %></p>
  <p><%= image_tag @user.image.detail.url %></p>
  <p>Email: <%= @user.email %> </p>
  <p>About me: <%= @user.description %></p>

  <p class="delete"><%= link_to 'Edit my profile', edit_user_path %></p>
  <br>


  <h2>Leave a comment for <%= @user.name %>:</h2>
  <%= form_for  @user.comments.new, html: {class: "comment_form"} do |f| %>
  <%= render partial: "comments/form", locals: { f: f } %>
  <%= f.submit "Add Comment!" %>
  <% end %>


  <h2><%= @user.name%>'s comments</h2>
  <% @user.comments.all.each do |comment| %>
  <div class="comment">
   <h4> <%= comment.comment %></h4>
   <div>Posted by: <%= comment.user.try :name %> on <%= comment.created_at.strftime("%d/%m/%Y") if comment.created_at %> </div>    
   <div class="delete"> <%= link_to "Delete comment", comment_path(comment), method: :delete, data: { confirm: 'Are you sure to delete the comment?' } %> </div>
   <br>
 </div>
   <% end %>

