<h2>My match history</h2>

<% if @winner_match.any? %>
<h3>Matches I have won :)</h3>
<table>
  <tr>
    <td>Loser</td> 
    <td>How long ago?</td>   
    <td>Name of winner</td> 
  </tr>

  <% @winner_match.map do |match| %>
  <tr>
    <td><%= User.find(match.loser_id).name%></td>
    <td><%= time_ago_in_words(match.created_at)  %></td>
    <td><%= User.find(match.winner_id).name %>
    </td>
    <% end %>  
  </tr>
</table>

<h3>Matches I have lost :(</h3>
<table>
  <tr>
    <td>Winner</td> 
    <td>How long ago?</td>   
    <td>Name of winner</td>
  </tr>

  <% if @loser_match %>
  <% @loser_match.map do |match| %>

  <tr>
    <td><%= User.find(match.loser_id).name%></td>
    <td><%= time_ago_in_words(match.created_at)  %></td>
    <td><%= User.find(match.winner_id).name %>

    </td>
    <% end %> 
    <% end %>
    <% else %>
    <p>You haven't played any matches! </p>
    <% end %>
  </tr>
</table>