<h2>My matches</h2>

<% if @incomplete_matches.any?%>
<h3>Matches in progress</h3>
<table>
  <tr>
    <td><strong>Player X</strong></td>
    <td><strong>Started...</strong></td>   
    <td><strong>Player O</strong></td>
    <td></td>
  </tr>

  <% @incomplete_matches.map do |match| %>
  <tr>
    <td><%= User.find(match.player_x_id).name %>
      <td><%= time_ago_in_words(match.created_at)  %> ago</td>
      <td><%= User.find(match.player_o_id).name %></td>
      <td><%= link_to 'Resume', match %></td>
  <% end %> 
    </tr>
  </table>
  <% else %>
  <p>You have no current matches!</p> 
<% end %>  


<% if @winner_match.any? %>
  <h3>Matches you have won :)</h3>
  <table>
    <tr>
      <td><strong>How long ago?</strong></td>   
      <td><strong>Played against?</strong></td>
    </tr>
    <% @winner_match.map do |match| %>
    <tr>
      <td><%= time_ago_in_words(match.created_at)  %></td>
      <td><%= User.find(match.loser_id).name %></td>
    <% end %>  
    </tr>
  </table>
  <% else %>
  <p>You have not won any matches! *hugs* </p>
<% end %>

<% if @loser_match.any? %>
  <h3>Matches you have lost :(</h3>
  <table>
    <tr>
     <td><strong>How long ago?</strong></td>   
     <td><strong>Played against?</strong></td>
    </tr>
   <% if @loser_match %>
   <% @loser_match.map do |match| %>
   <tr>
    <td><%= time_ago_in_words(match.created_at)  %></td>
    <td><%= User.find(match.winner_id).name %></td>
   </tr>
    <% end %> 
    <% else %>
    <p>You have not lost any matches! *kisses* </p>
    <% end %>
  </tr>
</table>
<% end %>