<h2>Match between <%= @match.player_x.name %> (X) and <%= @match.player_o.name %> (O)</h2>

<% if @move && @move.errors.any? == false %>
<h3>Click to make your next move!</h3>
<% elsif @move && @move.errors.any? == true %>
<h3>Uh, oh...</h3>
<%elsif %>
<h3>Player X will start.</h3>
<% end %>

<!-- error messages start  -->
<% if @move && @move.errors.any? && @match.match_active %>
 <h3>
    <% @move.errors.full_messages.each do |message| %>
     <%= message %></h3>
    <% end %>
<% end %>

<% if @match.winner_id && @match.winner_id == current_user.id %>
<h3 class="game_over"><%= "Well done, #{User.find(@match.winner_id).name}, you won! *hugs and kisses*"%></h2>
<% elsif @match.winner_id && @match.winner_id != current_user.id %>
<h3 class="game_over"><%= "Sorry, you lost... *hugs*" %></h2>
<% elsif @match.completed == true && @match.winner_id == nil  %>
<h3 class="game_over"><%= "It's a draw! *kisses*" %></h2>
<% end %>
<br>

<!-- board with moves below -->
<table class="match">
 <tr> 
  <td>
    <% if @match.move_for_position(1) %>
    <h1><%= @match.move_for_position(1).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 1), method: :post %>
    <% end %>
  </td>
  <td> <% if @match.move_for_position(2) %>
    <h1><%= @match.move_for_position(2).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 2), method: :post %>
    <% end %>
  </td>
  <td><% if @match.move_for_position(3) %>
    <h1><%= @match.move_for_position(3).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 3), method: :post %>
    <% end %>
  </td>
</tr>

<tr> 
  <td><% if @match.move_for_position(4) %>
    <h1><%= @match.move_for_position(4).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 4), method: :post %>
    <% end %>
  </td>
  <td><% if @match.move_for_position(5) %>
    <h1><%= @match.move_for_position(5).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 5), method: :post %>
    <% end %>
  </td>

  <td><% if @match.move_for_position(6) %>
    <h1><%= @match.move_for_position(6).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 6), method: :post %>
    <% end %>
  </td>
</tr>
<tr> 
  <td>
    <% if @match.move_for_position(7) %>
    <h1><%= @match.move_for_position(7).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 7), method: :post %>
    <% end %>
  </td>
  <td>
    <% if @match.move_for_position(8) %>
    <h1><%= @match.move_for_position(8).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 8), method: :post %>
    <% end %>
  </td>
  <td>
    <% if @match.move_for_position(9) %>
    <h1><%= @match.move_for_position(9).value %></h1>
    <% else %>
    <%= link_to "___", make_move_path(@match, position: 9), method: :post %>
    <% end %>
  </td>
</tr>

</table>


