<h2>Match between <%= @match.player_x.name %> (X) and <%= @match.player_o.name %> (O)</h2>

<br>


<br>

 <table>
   <tr> 
    <td>
      <% if @match.move_for_position(1) %>
      <%= @match.move_for_position(1).value %>
      <% else %>
      <%= link_to "move here", make_move_path(@match, position: 1), method: :post %>
      <% end %>
    </td>

    <td> <% if @match.move_for_position(2) %>
      <%= @match.move_for_position(2).value %>
      <% else %>
      <%= link_to "move here", make_move_path(@match, position: 2), method: :post %>
      <% end %>
    </td>
    <td><% if @match.move_for_position(3) %>
      <%= @match.move_for_position(3).value %>
      <% else %>
      <%= link_to "move here", make_move_path(@match, position: 3), method: :post %>
      <% end %>
    </td>
  </tr>
   <tr> 
    <td><% if @match.move_for_position(4) %>
      <%= @match.move_for_position(4).value %>
      <% else %>
      <%= link_to "move here", make_move_path(@match, position: 4), method: :post %>
      <% end %>
    </td>

    <td><% if @match.move_for_position(5) %>
      <%= @match.move_for_position(5).value %>
      <% else %>
      <%= link_to "move here", make_move_path(@match, position: 5), method: :post %>
      <% end %>
    </td>

    <td><% if @match.move_for_position(6) %>
      <%= @match.move_for_position(6).value %>
      <% else %>
      <%= link_to "move here", make_move_path(@match, position: 6), method: :post %>
      <% end %>
    </td>
  </tr>
   <tr> 
    <td>
      <% if @match.move_for_position(7) %>
            <%= @match.move_for_position(7).value %>
            <% else %>
            <%= link_to "move here", make_move_path(@match, position: 7), method: :post %>
            <% end %>
    </td>
    <td>
      <% if @match.move_for_position(8) %>
            <%= @match.move_for_position(8).value %>
            <% else %>
            <%= link_to "move here", make_move_path(@match, position: 8), method: :post %>
            <% end %>
    </td>
    <td>
      <% if @match.move_for_position(9) %>
            <%= @match.move_for_position(9).value %>
            <% else %>
            <%= link_to "move here", make_move_path(@match, position: 9), method: :post %>
            <% end %>
    </td>
  </tr>

 </table>


 